.content
{
    background-image: url("../images/circles-light.png");
    font-family: Helvetica, sans-serif;
}

/* Header */

.header-content
{
    width: 960px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header
{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    height:70px;
    color: white;
    box-shadow: 0px 2px #cccccc;
}

.pageTitle
{
    background-color: #4aaaa5;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
}

.menu
{
    width: 270px;
}

header nav ul
{
    display:flex;
    justify-content: space-between;
    -webkit-padding-start: 0px;
}

li
{
    list-style: none;
    color: green;
    text-decoration: none;
}

.lightgrey
{
    color: #bbbbbb;
    text-decoration: none;
}

.vRule
{
    border-right: 1px solid #cccccc;
}

/* Middle Content */

.row2
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row2Content
{
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.section
{
    width: 590px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

aside
{
    width: 270px;
    background-color: white;
}

/* Footer */
.footer
{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    box-shadow: 0px -4px teal;
}

.copyright
{
    color: #bbbbbb;
}

